.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  & .logo--text {
    color: $decorative-color-text;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.footer-logo {
  margin-bottom: 20px;
  color: #ffffff;
}
