/* ------------Section Clients--------------- */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms $main-cubic-bezier, color 250ms $main-cubic-bezier;
  &:focus,
  &:hover {
    border: 1px solid $decorative-color-text;
    color: $decorative-color-text;
  }
}
.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* ---------End.Section Clients-------------- */
