/* ------------Page Portfolio---------------- */

.filter {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.gallery > .gallery__item {
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 678px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery__link {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/* ------------------overlay ----------------*/
.gallery__overlay {
  position: relative;
  overflow: hidden;
  &--text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms $main-cubic-bezier;
  }
}
.gallery__link:hover .gallery__overlay--text,
.gallery__link:focus .gallery__overlay--text {
  transform: translateY(0%);
}
/* .gallery-overlay::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--main-cubic-bezier);
}

.gallery-link:hover .gallery-overlay::before,
.gallery-link:focus .gallery-overlay::before,
.gallery-link:hover .text-overlay,
.gallery-link:focus .text-overlay {
  transform: translateY(0%);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms var(--main-cubic-bezier);
} */
/* ----------------end-overlay ----------------*/
.gallery__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-color-title;
}
.gallery__category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $main-color-text;
}
/* ----------End. Page Portfolio------------- */
