/* ------------Section our team --------------*/
.section--team {
  background-color: #f5f4fa;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0;
  }
}
.our-team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }

  // &:not(last-child) {
  //   @media screen and (max-width: 1199px) {
  //     margin-bottom: 30px;
  //   }
  // }
}
.our-team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}
.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social {
  display: flex;
  justify-content: center;
}
.social__link {
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms $main-cubic-bezier,
    color 250ms $main-cubic-bezier;
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $decorative-color-text;
    color: #fff;
  }
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* ---------End.Section our team -------------*/
